/* basic and reset stlyes */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    &:focus {
        outline: none;
    }
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}
/*-- LAYOUT AND MAIN CONTAINER --*/
.container {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 60px auto;
    grid-template-rows: 60px auto;
    grid-template-areas: "header header"
                         "sidebar main-content";
    /* animation */
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    &.active {
        grid-template-columns: 250px auto;
    }
}
/* ---- HEADER --- */
.header {
    grid-area: header;
    padding: 0 20px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-content: center;
    grid-gap: 20px;
    grid-template-areas: "logo search header-icons";
    &__logo {
        grid-area: logo;
        .menu-button {
            border: none;
            padding: 10px;
            background: none;
            cursor: pointer;
            font-size: 18px;
            border-radius: 100px;
            width: 50px;
            height: 50px;
            margin-right: 20px;
            &:hover {
                background-color: #e7e7e7;
            }
        }
        .logo{
            font-family: 'Roboto';
            font-size: 20px;
            position: relative;
            top: 2px;
            .fas {
                background: #ff0000;
                padding: 7px 12px;
                border-radius: 4px;
                font-size: 8px;
                color: #fff;
                position: relative;
                top: -4px;
                margin-right: 8px;
            }
        }
    
    }
    &__search {
        grid-area: search;
        display: flex;
        align-items: center;
        justify-content: center;
        input {
            min-width: 60%;
            padding: 0 15px;
            height: 35px;
            line-height: 35px;
            border: 1px solid #ccc;
            font-size: 16px;
            font-family: 'Roboto', sans-serif;
        }
        button {
            height: 35px;
            border: 1px solid #ccc;
            border-left: none;
            color: #545454;
            background: #f8f8f8;
            padding: 0 25px;
            cursor: pointer;
            &:hover {
                background-color: #f5f5f5;
            }
        }
    }
    &__buttons {
        grid-area: header-icons;
        display: flex;
        align-items: center;
        button {
            background-color: unset;
            border: none;
            width: 40px;
            height: 40px;
            font-size: 18px;
            padding: 7px 12px;
            border-radius: 100px;
            color: #828282;
            margin-right: 20px;
            cursor: pointer;
            &:hover {
                background-color: #e7e7e7;
            }
        }
        .avatar {
            width: 30px;
            height: 30px;
            display: inline-block;
            img {
                vertical-align: top;
                width: 100%;
                border-radius: 100px;
            }
        }
    }
}


/*--- SIDEBAR MENU ---*/
.sidebar {
    grid-area: sidebar;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-size: 14px;
    a {
        padding: 15px 20px;
        color: #000;
        min-width: 800px;
        &:hover {
            background-color: #e5e5e5;
        }
        &.active {
            background-color: #e5e5e5;
            font-weight: bold;
            .fas {
                color: #ff0000;
            }
        }
    }
    // icons
    .fas {
        color: #606060;
        margin-right: 20px;
        width: 20px;
        text-align: center; 
    }
}

/*--- MAIN CONTENT ---*/
.main {
    grid-area: main-content;
    background-color: #f9f9f9;
    padding: 40px;
    &__title {
        margin-bottom: 20px;
    }
    &__videos-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 40px 20px;
        .video {
            width: 100%;
            img {
                width: 100%;
            }
        }
    }
}

/*--- MEDIAQUERIES ---*/
@media screen and (max-width: 1200px) {
    .main {
        &__videos-container {
            grid-template-columns: repeat(3, 1fr);        
        }
    }
    .header__logo .logo span {
        display: none;
    }
    .header__search input {
        min-width: 75%;
    }
}

@media screen and (max-width: 992px) {
    .main {
        &__videos-container {
            grid-template-columns: repeat(2, 1fr);        
        }
    }
}

@media screen and (max-width: 768px) {
    .container {
        grid-template-rows: auto;
    }
    .header {
        padding: 20px;
        grid-template-columns: auto auto;
        justify-content: space-between;
        grid-template-areas: "logo header-icons"
                             "search search";
    }
    .header__logo .logo span {
        display: inline;
    }
    .header__search input {
        min-width: auto;
        width: 100%;
    }

}

@media screen and (max-width: 576px) {
    .main {
        &__videos-container {
            grid-template-columns: repeat(1, 1fr);        
        }
    }
}